@model HomeViewModel
@{
	ViewBag.Title = "Ana Sayfa";
}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<div class="d-sm-flex align-items-center justify-content-between mb-4">
				<h1 class="h3 mb-0 text-gray-800">Platformlar</h1>
				<a href="@Url.Action("Add","Platform")" class="btn btn-sm btn-primary shadow-sm">Yeni Platform Ekle</a>
			</div>

			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Kayıtlı Platformlar</h6>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>Başlık</th>
									<th>IsActive</th>
									<th>-</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model.Platforms)
								{
									<tr>
										<td>@item.Name</td>
										<td>@Html.Raw(item.IsActive ? "Aktif" : "Pasif")</td>
										<td>
											<a href="@Url.Action("Edit","Platform", new { id = item.Id })" class="btn btn-primary">Düzenle</a>
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Kayıtlı Kullanıcılar</h6>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>Başlık</th>
									<th>IsActive</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model.Accounts)
								{
									<tr>
										<td>@item.Fullname</td>
										<td>@Html.Raw(item.IsActive ? "Aktif" : "Pasif")</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts{

<script src="~/_assets/js/jquery.dataTables.min.js"></script>
<script src="~/_assets/js/dataTables.bootstrap4.min.js"></script>
<script>
	$(document).ready(function () {
		$('#dataTable').DataTable();
		$('#dataTable2').DataTable();
	});
</script>

}